
/wss-agent-parent/.idea
/wss-agent-parent/.settings
/wss-agent-parent/.project
/wss-agent-parent/wss-agent-parent.iml

/wss-agent-parent/wss-agent-api-client/target
/wss-agent-parent/wss-agent-api-client/.settings
/wss-agent-parent/wss-agent-api-client/.project
/wss-agent-parent/wss-agent-api-client/.classpath
/wss-agent-parent/wss-agent-api-client/wss-agent-api-client.iml

/wss-agent-parent/wss-agent-api/target
/wss-agent-parent/wss-agent-api/.settings
/wss-agent-parent/wss-agent-api/.project
/wss-agent-parent/wss-agent-api/.classpath
/wss-agent-parent/wss-agent-api/wss-agent-api.iml