#*
 * Copyright (C) 2012 White Source Ltd.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#macro( reject ) <span class='wssRed'>Rejections Found</span> #end
#macro( approve ) <span class='wssGreen'>All Approved</span> #end
#macro( rejectSingle $policyName ) 
	<div style="float: right;">
		<span class='wssRed'>REJECTED</span>
		<span class='wssAnchor' title="Rejected by policy $policyName">info</span>
	</div>
#end
#macro( approveSingle $policyName )
<div style="float: right;">
	<span class='wssGreen'>APPROVED</span>
	<span class='wssAnchor' title="Approved by policy $policyName">info</span>
</div>
#end
#macro( lineSeparator ) <div class='wssLineSeparaterContainer'><div class='wssLineSeparator'></div></div> #end

#macro (projectsSummary $projects $detailsPrefix)
    #foreach ($entry in $projects.entrySet())
        #set( $detailsId = "${detailsPrefix}-details-$foreach.count")
		
        <div class='wssProjectEntry'>
            ## project caption
            <div style="width: 100%;" class='wssBorder wssProjectCaptionBackground'>
                <div style="display: inline-block;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div style="padding: 5px;">$entry.key</div>
                            </td>
                        </tr>
                    </table>
                </div><div style="display: inline-block; float: right;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div style="display: inline-block;">
                                    #if ( $entry.value.hasRejections() )
                                        #reject()
                                    #else
                                        #approve()
                                    #end
                                </div>
                            </td><td align="right">
                            <a class='wssAnchor' href="#" onclick="toggleDetails(this, '$detailsId')" style="float:right; padding: 5px;">show details</a>
                        </td>
                        </tr>
                    </table>
                </div>
            </div>

            ## project details
            <div id="$detailsId" style="width: 100%; display: none;" class='wssBorder wssDetailsBackground'>
                #projectDependenciesTree($entry.value)
            </div>
        </div>

    #end
#end

#macro ( projectDependenciesTree $root)
    #if ($root.children.size() > 0)
        <ul>
            #foreach ($child in $root.children)
                #dependencyNode ($child)
            #end
        </ul>
    #else
    <div style="padding: 10px;">No new libraries were detected in this project</div>
    #end
#end

#macro ( dependencyNode $node)
    <li>
        <div class="wssDependencyNode">
            <a class='wssAnchor' href="$node.resource.link" target="_blank">$node.resource.displayName</a>
            <div class="wssTextColor" style="display: inline; padding-left: 20px;">
            #foreach ($license in $node.resource.licenses)
                $license &nbsp;
            #end
			</div>

            #if ($node.policy)
                #if ("Reject" == $node.policy.actionType)
                    #rejectSingle( $node.policy.displayName )
                #else
                    #approveSingle( $node.policy.displayName )
                #end
            #end
        </div>

        #if ( $node.children )
            <ul>
            #foreach ($child in $node.children)
                #dependencyNode ($child)
            #end
            </ul>
        #end
    </li>
#end

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>WhiteSource - Policy Check Summary</title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />

        <script>
            function toggleDetails(anchor, detailsId){
                var details = document.getElementById(detailsId);

                if(details.style.display == 'block' ) {
                    details.style.display = 'none';
                    anchor.innerHTML = 'show details'
                }
                else {
                    details.style.display = 'block';
                    anchor.innerHTML = 'hide details'
                }
                return details;
            }
        </script>
        
        <link rel="stylesheet" href="wss.css">
    </head>

    <body class='wssBody'>
    <div align="center" style="width: 100%;">
    <div class='wssContainer'>
        <a class='wssAnchor' href="https://whitesourcesoftware.com" target="_blank">
            <img align="center" src="https://saas.whitesourcesoftware.com/Wss/background/whitesource_logo_dark_small.png" style="padding-top: 10px;"/>
        </a>

        <div align="center">
            <h2 class='wssHeader'>Policy Check Summary</h2>
            <h3>
                #if ( $hasRejections )
                    #reject()
                #else
                    #approve()
                #end
            </h3>
        </div>

		<div align='left'>
			<div class='wssTextAlign' style="width: 500px; padding-left: 10px;">
	            <table style="width: 100%;" class='wssTextColor'>
	                <tbody>
	                    #if ($buildName)
                        <div class='wssTextColor' style="padding-bottom: 10px; padding-left: 5px;">
                            Build Name - $buildName
                        </div>
	                    #end
	                    #if ($buildNumber)
                        <div class='wssTextColor' style="padding-bottom: 10px; padding-left: 5px;">
                            Build Number - $buildNumber
                        </div>
                        #end
                        <div class='wssTextColor' style="padding-left: 5px;">
                            Report creation time - $creationTime
                        </div>
	                </tbody>
	            </table>
	        </div>
        </div>

        #lineSeparator

		<div class='wssTextAlign'>
            #if ($result.newProjects.size() > 0)
                <div style='padding-bottom: 5px; padding-left: 10px;'>
                    <div class='wssProjectHeader' style="display: inline-block">New Projects</div>
                    <span class='wssTextColor wssProjectStats'>(found $result.newProjects.size() new projects)</span>
               </div>
                #projectsSummary($result.newProjects "new-project")
            #else
                <div class='wssTextColor wssProjectStats' style="padding-left: 15px; padding-top: 5px;">No new projects found</div>
            #end

			#lineSeparator

            #if ($result.existingProjects.size() > 0)
                <div style='padding-bottom: 5px; padding-left: 10px;'>
                    <div class='wssProjectHeader' style="display: inline-block">Existing Projects</div>
                    <span class='wssTextColor wssProjectStats'>(found $result.existingProjects.size() existing projects)</span>
                </div>
                #projectsSummary($result.existingProjects "existing-project")
            #else
                <div class='wssTextColor wssProjectStats' style="padding-left: 15px; padding-top: 5px;">No existing projects were updated</div>
            #end
        </div>


		#if ( $licenses.size() > 0 )

        #lineSeparator

        <div class='wssTextAlign' style="margin: 0px 10px;">
			<div>
		        <div class='wssProjectHeader' style="display: inline-block">License Distribution</div>
	       </div>
			<table class="wssLicenses wssTextColor">
		  		<tr>
		  			#foreach ( $license in $licenses )
		      		<td style='width: 100px; padding: 0px; vertical-align: bottom;'>
		      			<table style="border-spacing: 0px 0px; width:100px; text-align:center">
		                	<tr>
		                    	<td style=' font-size:12px;'>
		                      		$license.occurrences
		                    	<td>
		                  	</tr>
		                  	<tr>
		                    	<td style="padding-bottom: 0px; padding-right: 40px; padding-left: 40px">
		                      		<table height="$license.height" class="wssLicenseBar" title="$license.name: $license.occurrences">
		                        		<tr>
		                          			<td>
		                          			</td>
		                        		</tr>
		                      		</table>
		                    	</td>
		                  	</tr>
		            	</table>
		    		</td>
		    		#end
		  		</tr>
		  	</table>
		  	<table style='width: 100%;'>
		  		<tr>
		  			#foreach ( $license in $licenses )
		    		<td>
		    			<table style='width: 100px;'>
		                  <tr>
		                    <td class="wssTextColor" style='font-size:80%; text-align:center;' title="$license.name">
		        				$license.shortName
		                    </td>
		                  </tr>
		                </table>
		      		</td>
		      		#end
				</tr>
			</table>
		</div>
		#end

	</div>
	</div>
    </body>
</html>
